.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.t1{
  display: flex; 
  justify-content: center;
  align-items: center;
}
.ul-1 li{
  font-size: 14px;
  font-family:sans-serif;
  text-transform: capitalize;
  color:#DDDDDD ;
}
.ul-1 li:hover {
  transition: all 0.4s ease-in;
  color: #fff;
}
.App-link {
  color: #61dafb;
}

.ul-2 li {
  font-size: 16px;
  font-weight: bold;
  padding-left: 10px;
}
.ul-2 li:hover {
  transition: all 0.3s ease-in;
  color: #71e9b6;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
